<script setup>
import { onMounted, ref } from "vue";
// Aca podemos crear algunas variables para usarlas en la creacion del footer 
// asi gastaremos menos html y a la hora de renderizar sera mas rapido
const information = ref([
  { detail: "105 Murray Street Ottawa, ON K1N 5M5 Canada", url: "#" },
  { detail: "Sales: info@leadboxhq.com", url: "#" },
  { detail: "Parts: 24/7 Bilingual Customer Service at", url: "#" },
  { detail: "Service: 1-855-LEADBOX (1-855-532-3269)", url: "#" },
]);
// Opcion que se seleccionara en el select 
const optionSelected = ref(0);
// Variable que contiene toda la informacion de kas hiras de servicio
// Esta podrian venir de una api y mejorar este codigo
const days = ref([
  [
    { day: "Monday", hours: "8:00am - 8:00pm" },
    { day: "Thursday", hours: "8:00am - 8:00pm" },
    { day: "Tuesday", hours: "8:00am - 8:00pm" },
    { day: "Friday", hours: "8:00am - 8:00pm" },
    { day: "Wednesday", hours: "8:00am - 8:00pm" },
    { day: "Saturday", hours: "8:00am - 8:00pm" },
    { day: "Sunday", hours: "Closed" },
  ],
  [
    { day: "Monday", hours: "8:00am - 5:00pm" },
    { day: "Thursday", hours: "8:00am - 5:00pm" },
    { day: "Tuesday", hours: "8:00am - 5:00pm" },
    { day: "Friday", hours: "8:00am - 5:00pm" },
    { day: "Wednesday", hours: "8:00am - 5:00pm" },
    { day: "Saturday", hours: "Closed" },
    { day: "Sunday", hours: "Closed" },
  ],
  [
    { day: "Monday", hours: "8:00am - 8:00pm" },
    { day: "Thursday", hours: "9:00am - 7:00pm" },
    { day: "Tuesday", hours: "10:00am - 6:00pm" },
    { day: "Friday", hours: "11:00am - 5:00pm" },
    { day: "Wednesday", hours: "12:00am - 3:00pm" },
    { day: "Saturday", hours: "Closed" },
    { day: "Sunday", hours: "Closed" },
  ],
]);
// Opciones del select
const options = ref([
  { id: 0, option: "Sales" },
  { id: 1, option: "Services" },
  { id: 2, option: "Parts" },
]);
const socialNetworks = ref([
  {
    icon: "la-facebook-f",
    url: "https://www.facebook.com/leadbox/",
  },
  { icon: "la-twitter", url: "https://twitter.com/leadbox" },
  { icon: "la-youtube", url: "https://www.youtube.com/@YourLeadbox" },
  { icon: "la-instagram", url: "https://www.instagram.com/leadboxhq/" },
  {
    icon: "la-pinterest-p",
    url: "https://www.linkedin.com/company/leadbox-inc/",
  },
  {
    icon: "la-linkedin-in",
    url: "https://www.linkedin.com/company/leadbox-inc/",
  },
]);
</script>
<template>
  <footer class="bg-gray-800 py-10 relative z-20">
    <div class="md:px-20 px-10 py-6 lg:py-8">
      <div class="grid md:grid-cols-4 grid-cols-1">
        <div class="md:hidden">
          <h2 class="mb-12 text-center">
            <span class="font-extrabold text-4xl text-gray-200">Lead</span>
            <span class="text-4xl text-gray-400">Box</span>
          </h2>
        </div>
        <div>
          <ul class="font-medium">
            <li
              class="mb-3 text-center md:text-start"
              v-for="info of information"
            >
              <a :href="info.url" class="text-gray-400 hover:text-gray-300">
                {{ info.detail }}
              </a>
            </li>
          </ul>
        </div>
        <div
          class="md:col-span-2 mt-7 md:mt-0 order-4 md:order-none flex justify-center items-baseline"
        >
          <div class="w-11/12">
            <h2 class="mb-12 text-center hidden md:block">
              <span class="font-extrabold text-4xl text-gray-200">Lead</span>
              <span class="text-4xl text-gray-400">Box</span>
            </h2>
            <div class="md:mb-12 mb-6 text-center">
              <a
                class="text-gray-400 border border-gray-400 hover:bg-gray-300 hover:text-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-lg p-2.5 text-center inline-flex items-center mr-3 mb-3 md:mb-0"
                v-for="solcial of socialNetworks"
                :href="solcial.url"
                target="_blank "  
                ><i :class="'lab ' + solcial.icon"></i
              ></a>
            </div>
            <!-- Aca podemos ver un ejemplo cuando no usamos los recursos del framework este 
              fraccion podria durar un poco mas al redenrizarse por la cantidad de codigo
            ademas esto alarga los componente y dificulta su actualizacion -->
            <ul
              class="flex flex-wrap items-center justify-center mt-3 text-sm font-medium"
            >
              <li>
                <a href="#" class="mx-3 text-gray-500 hover:text-gray-400"
                  >Sitemap</a
                >
                <span class="text-gray-500">|</span>
              </li>
              <li>
                <a href="#" class="mx-3 text-gray-500 hover:text-gray-400">
                  Term and Conditions</a
                >
                <span class="text-gray-500">|</span>
              </li>
              <li>
                <a href="#" class="mx-3 text-gray-500 hover:text-gray-400">
                  Privacy Policy</a
                >
                <span class="text-gray-500">|</span>
              </li>
              <li>
                <a href="#" class="mx-3 text-gray-500 hover:text-gray-400">
                  Dealership &copy; 2022</a
                >
                <span class="text-gray-500">|</span>
              </li>
              <li>
                <a href="#" class="mx-3 text-gray-500 hover:text-gray-400">
                  Power by Leadbox</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="mt-7 md:mt-0">
          <ul class="font-medium">
            <li class="mb-4 text-gray-400 hover:text-gray-300">
              <!-- Al seleccionar alguna opcion lo que pasara es que esto se alacenara en una 
              variable y esta variabler se usara para recorrer los datos -->
              <select
                v-model="optionSelected"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              >
                <option selected v-for="option of options" :value="option.id">
                  {{ option.option }}
                </option>
              </select>
            </li>
            <li class="mb-4">
              <div class="grid grid-cols-2">
                <!-- Recorrido de los daros aca podemos ver como usamos la variable para recorrer el for -->
                <div
                  class="text-gray-400 hover:text-gray-300 mb-1"
                  v-for="day of days[optionSelected]"
                >
                  {{ day.day }}: {{ day.hours }}
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</template>
