<script setup>
import { ref } from "vue";
const menu = ref(0);
const accordion = ref(false);
const menuBar = ref(false);
</script>
<template>
  <div>
    <!-- Navbar de la  aplicacion -->
    <header  class="fixed top-0 z-40 w-full">
      <nav class=" bg-neutral-200/70  backdrop-blur-2xl w-full md:px-12 px-2 shadow-sm py-3">
        <div
          class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
        >
          <a
            href="javascript:void(0)"
            class="flex items-center space-x-3 rtl:space-x-reverse"
          >
            <span
              class="self-center md:text-2xl text-3xl whitespace-nowrap "
            >
              <span class="font-bold">Lead</span><span>box</span>
            </span>
          </a>
          <!-- Boton para expandir el menu en resolucion de 720px -->
          <button
            type="button"
            class="inline-flex items-center p-2 w-10 h-10 justify-center text-3xl text-gray-500 rounded-lg md:hidden hover:bg-neutral-200/80 focus:outline-none focus:ring-2 focus:ring-gray-200"
            @click="menuBar = !menuBar"
          >
            <span class="sr-only">Open menu</span>
            <i class="las la-bars"></i>
          </button>
          <div
            class="w-full md:block md:w-auto md:mt-auto"
            :class="menuBar ? '' : 'hidden'"
          >
            <ul
              class="flex flex-col font-medium p-4 md:p-0 mt-4 border rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0  relative"
            >
              <li class="my-auto hidden md:block">
                <button
                  class="flex items-center justify-between uppercase w-full py-2 px-3 text-gray-700 rounded hover:bg-neutral-200/80 md:hover:bg-transparent md:border-0 md:hover:text-green-700 md:p-0 md:w-auto text-base"
                  @click="menu = !menu"
                >
                  <span class="mr-2">New</span>
                  <i class="las la-angle-down"></i>
                </button>
                <div
                  v-if="menu"
                  class="z-10 absolute font-normal bg-neutral-200/90 divide-y divide-gray-100 shadow w-56 dropdown-position"
                >
                  <ul class="text-base">
                    <li>
                      <a
                        href="#"
                        class="hover:underline text-gray-700 hover:text-gray-900 block px-6 py-4 hover:bg-[#7be08736]"
                        >New Vehicles Inventory</a
                      >
                    </li>
                    <li>
                      <a
                        href="#"
                        class="hover:underline text-gray-700 hover:text-gray-900 block px-6 py-4 hover:bg-[#7be08736]"
                        >2023 Ford Lightning</a
                      >
                    </li>
                    <li>
                      <a
                        href="#"
                        class="hover:underline text-gray-700 hover:text-gray-900 block px-6 py-4 hover:bg-[#7be08736]"
                        >2023 Ford Bronco</a
                      >
                    </li>
                    <li>
                      <a
                        href="#"
                        class="hover:underline text-gray-700 hover:text-gray-900 block px-6 py-4 hover:bg-[#7be08736]"
                        >New Vehicle Specials</a
                      >
                    </li>
                  </ul>
                </div>
              </li>
              <li class="my-auto block md:hidden">
                <div>
                  <button
                    class="flex items-center justify-between uppercase w-full md:py-2 py-4 px-3 text-gray-700 rounded hover:bg-neutral-200/80 md:hover:bg-transparent md:border-0 md:hover:text-green-700 md:p-0 md:w-auto text-base"
                    @click="accordion = !accordion"
                  >
                    <span class="mr-2">New</span>
                    <i class="las la-angle-down"></i>
                  </button>
                  <div class="transition-all ease-in-out delay-150" :class="accordion ? 'block' : 'hidden'">
                    <div class="p-5 w-full">
                      <ul class="text-base">
                        <li>
                          <a
                            href="#"
                            class="hover:underline text-gray-700 hover:text-gray-900 block px-6 py-4 hover:bg-neutral-200/80"
                            >New Vehicles Inventory</a
                          >
                        </li>
                        <li>
                          <a
                            href="#"
                            class="hover:underline text-gray-700 hover:text-gray-900 block px-6 py-4 hover:bg-neutral-200/80"
                            >2023 Ford Lightning</a
                          >
                        </li>
                        <li>
                          <a
                            href="#"
                            class="hover:underline text-gray-700 hover:text-gray-900 block px-6 py-4 hover:bg-neutral-200/80"
                            >2023 Ford Bronco</a
                          >
                        </li>
                        <li>
                          <a
                            href="#"
                            class="hover:underline text-gray-700 hover:text-gray-900 block px-6 py-4 hover:bg-neutral-200/80"
                            >New Vehicle Specials</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li class="my-auto">
                <a
                  href="#"
                  class="block md:py-2 py-4 px-3 text-gray-700 rounded hover:bg-neutral-200/80 md:hover:bg-transparent md:border-0 md:hover:text-green-700 md:p-0 uppercase text-base"
                  >Used</a
                >
              </li>
              <li class="my-auto">
                <a
                  href="#"
                  class="block md:py-2 py-4 px-3 text-gray-700 rounded hover:bg-neutral-200/80 md:hover:bg-transparent md:border-0 md:hover:text-green-700 md:p-0 uppercase text-base"
                  >Service</a
                >
              </li>
              <li class="my-auto">
                <a
                  href="#"
                  class="block md:py-2 py-4 px-3 text-gray-700 rounded hover:bg-neutral-200/80 md:hover:bg-transparent md:border-0 md:hover:text-green-700 md:p-0 uppercase text-base"
                  >Parts</a
                >
              </li>
              <li class="my-auto">
                <a
                  href="#"
                  class="block md:py-2 py-4 px-3 text-gray-700 rounded hover:bg-neutral-200/80 md:hover:bg-transparent md:border-0 md:hover:text-green-700 md:p-0 uppercase text-base"
                  >About</a
                >
              </li>
              <li class="my-auto">
                <span
                  class="block md:py-2 py-4 px-3 text-gray-700 rounded hover:bg-neutral-200/80 md:hover:bg-transparent md:border-0 md:hover:text-green-700 md:p-0 uppercase text-xl"
                >
                  <i class="las la-search"></i>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  </div>
</template>
