<script setup></script>
<template>
  <!-- Componente de la sesccion sobre la empresa -->
  <!-- Esta clase img-about trae la imagen y color de fonde de esta seccion -->
  <div class="img-about">
    <div class="pt-14 px-6 xl:px-24 lg:px-12 md:px-6 flex justify-end overflow-hidden">
      <div>
        <div class="grid xl:grid-cols-4 md:grid-cols-2 sm:grid-cols-1 h-full">
          <div class="xl:col-span-2 md:h-full flex items-end order-4 md:order-none mt-6 md:mt-0 relative h-[380px] w-full">
            <!-- Imagnes que aparecen en el sobre emprensa estas dos imagenes se muestran a partir
               de un bacjground de css y la modificacion de tamaño es para que no dañe el rersponsive -->
            <div class="image-left absolute bottom-0 md:w-[380px] md:h-[280px] xl:w-[460px] xl:h-[360px] w-[460px] h-[360px] left-[-115px] z-10"></div>
            <div class="image-right absolute bottom-[-110px] md:w-[380px] md:h-[330px] xl:w-[500px] xl:h-[425px] w-[500px] h-[425px] left-[70px]"></div>
          </div>
          <div class="xl:col-span-2 md:mb-9 relative z-[12]">
            <h2
              class="text-center text-4xl font-bold text-white uppercase mb-7 w-full"
            >
              About Us
            </h2>
            <p class="mb-5 text-gray-200">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime,
              non dolorum! Eos, veniam quae maiores magni dolorum natus quis
              labore laborum illo eum est placeat aperiam dolor odio ad fugiat.
            </p>
            <p class="text-gray-200">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime,
              non dolorum! Eos, veniam quae maiores magni dolorum natus quis
              labore laborum illo eum est placeat aperiam dolor odio ad fugiat.
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime,
              non dolorum! Eos, veniam quae maiores magni dolorum natus quis
              labore laborum illo eum est placeat aperiam dolor odio ad fugiat.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
