<script setup>
import { ref } from "vue";
const isLoad = ref(true);
// Funcion que comprueba si las imagenes cargaron
const loadImage = () => {
  isLoad.value = false;
};
</script>
<template>
  <!-- EN este componente podemos observar una funcion que ya en el componente featureVehiclesComponent
  esta, esta funcion se podria reutilizar en una aolicacion de mayor escala con pinia oiniendola como estado global -->
  
  <!-- Y el acceso a las imagenes por lo investiga no funcionaban con @ que ees para regresar a la carpeta raiz
   -->
  <div class="bg-white mb-16 mt-24 md:mx-16 mx-8">
    <!-- simulacion de carga -->
    <div class="grid lg:grid-cols-3 md:grid-cols-2 gap-x-6 xl:gap-x-16" v-show="isLoad">
      <div
        class="h-image-carouse-ft h-[500px] md:w-[25rem] w-[20rem] mb-4"
        v-for="item of 3"
        :class="item == 3 ? 'md:hidden' : ''"
      >
        <div class="animate-pulse">
          <div
            class="flex items-center justify-center w-full h-image-carouse-ft bg-gray-300"
          ></div>
        </div>
      </div>
    </div>
    <div class="grid lg:grid-cols-3 md:grid-cols-2 gap-x-6 xl:gap-x-16" v-show="!isLoad">
      <div class="mb-12">
        <div>
          <img
            src="../../assets/image2.png"
            class="object-cover w-full h-image-carouse-ft design-img"
            @load="loadImage"
          />
          <h4 class="text-gray-800 text-3xl font-bold mb-4 mt-2">
            Proin in lorem tortor
          </h4>
          <p class="text-justify text-gray-600">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
            aliquam officiis ipsam, assumenda beatae tempore enim veniam sequi
            in pariatur inventore dolore minima blanditiis corporis iste amet
            quasi numquam autem!
          </p>
        </div>
      </div>
      <div class="mb-12">
        <div>
          <img
            src="../../assets/image4.png"
            class="object-cover w-full h-image-carouse-ft design-img"
            @load="loadImage"
          />
          <h4 class="text-gray-800 text-3xl font-bold mb-4 mt-2">
            Proin in lorem tortor
          </h4>
          <p class="text-justify text-gray-600">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
            aliquam officiis ipsam, assumenda beatae tempore enim veniam sequi
            in pariatur inventore dolore minima blanditiis corporis iste amet
            quasi numquam autem!
          </p>
        </div>
      </div>
      <div class="md:hidden lg:block">
        <div>
          <img
            src="../../assets/image3.png"
            class="object-cover w-full h-image-carouse-ft design-img"
            @load="loadImage"
          />
          <h4 class="text-gray-800 text-3xl font-bold mb-4 mt-2">
            Proin in lorem tortor
          </h4>
          <p class="text-justify text-gray-600">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
            aliquam officiis ipsam, assumenda beatae tempore enim veniam sequi
            in pariatur inventore dolore minima blanditiis corporis iste amet
            quasi numquam autem!
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
