<script setup>
import { ref } from "vue";

const isLoad = ref(true);
const imageCarousel = ref(2);

// FUncion que verifica la carga de la imagen para eliminar los elementos de carga
const loadImage = () => {
  isLoad.value = false;
};

// Funcion para siguinte del carrusel
const carouselNext = () => {
  imageCarousel.value++;
  console.log(imageCarousel.value);
  nextBackCarousel();
};
// Funcion para el atras del carrusel
const carouselBack = () => {
  imageCarousel.value--;
  console.log(imageCarousel.value);
  nextBackCarousel();
};
// Funcion que verifica si el item es el ultimo para realizar la vuelta al carrusel
const nextBackCarousel = () => {
  if (imageCarousel.value > 2) {
    imageCarousel.value = 1;
  }
  if (imageCarousel.value < 1) {
    imageCarousel.value = 2;
  }
};
</script>

<template>
  <div class="bg-[#f2f2f2e1]">
    <div class="mb-24 mt-24 lg:mx-10 mx-8">
      <h2
        class="text-center text-4xl font-bold text-gray-800 uppercase mb-16 w-full"
      >
        Featured Vehicles
      </h2>
      <div class="flex relative">
        <div class="lg:mr-20 mr-2 absolute md:relative z-10 top-0 left-0 h-full md:h-auto">
          <button
            type="button"
            class="flex items-center justify-center h-full md:px-4 px-0 cursor-pointer group focus:outline-none"
            @click="carouselBack()"
          >
            <span
              class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white d\ group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none text-xl"
            >
              <i class="las la-angle-left"></i>
            </span>
          </button>
        </div>
        <!-- Items de carga -->
        <div
          class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 xl:gap-x-16"
          v-show="isLoad"
        >
        <!-- Estos dos operadores ternarios son para comprobar cuantros elementos mostrata -->
          <div
            class="h-image-carouse-ft w-100 w-[20rem] md:w-[22rem]"
            :class="[
              item == 3 ? 'hidden lg:block' : '',
              item == 2 ? 'hidden md:block' : '',
            ]"
            v-for="item of 3"
          >
            <div class="animate-pulse">
              <div
                class="flex items-center justify-center w-full h-image-carouse-ft bg-gray-300"
              ></div>
            </div>
          </div>
        </div>
        <!-- Primero items del carrulse -->
        <div
          class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 xl:gap-x-16 gap-x-8"
          v-show="!isLoad"
        >
          <!-- Estos dos operadores ternarios son para comprobar cuantros elementos mostrata -->
          <div
            class="relative"
            :class="[
              item == 3 ? 'hidden lg:block' : '',
              item == 2 ? 'hidden md:block' : '',
            ]"
            v-for="item of 3"
            v-show="imageCarousel !== 1"
          >
            <img
              src="../../assets/car1.png"
              class="object-cover w-full h-image-carouse-ft"
              @load="loadImage"
            />
            <div
              class="bg-[#fefefe96] absolute top-0 left-0 w-full py-4 pl-4 text-gray-800 text-lg"
            >
              2016 Tesla Model X P90D Ludicrous
            </div>
            <div
              class="bg-[#020202b5] absolute bottom-0 left-0 py-3 px-12 text-gray-200 font-bold uppercase"
            >
              Sold
            </div>
          </div>
          <!-- Segunods items del carrusel -->
          <!-- Estos dos operadores ternarios son para comprobar cuantros elementos mostrata -->
          <div
          
            class="relative"
            :class="[
              item == 3 ? 'hidden lg:block' : '',
              item == 2 ? 'hidden md:block' : '',
            ]"
            v-for="item of 3"
            v-show="imageCarousel !== 2"
          >
            <img
              src="../../assets/image.png"
              class="object-cover w-full h-image-carouse-ft"
            />
            <div
              class="bg-[#fefefe96] absolute top-0 left-0 w-full py-4 pl-4 text-gray-800 text-lg"
            >
              2016 Tesla Model X P90D Ludicrous
            </div>
            <div
              class="bg-[#020202b5] absolute bottom-0 left-0 py-3 px-12 text-gray-200 font-bold uppercase"
            >
              Sold
            </div>
          </div>
        </div>
        <div class="lg:ml-20 ml-2 absolute md:relative z-10 top-0 right-0 h-full md:h-auto">
          <button
            type="button"
            class="flex items-center justify-center h-full md:px-4 px-0 cursor-pointer group focus:outline-none"
          >
            <span
              class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white d\ group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none text-xl"
              @click="carouselNext()"
            >
              <i class="las la-angle-right"></i>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
