<script setup>
import { ref } from "vue";

const isLoad = ref(true);
const imageCarousel = ref(2);

// Y en este componente tambien vemos algunas funciones que se podrian reutilizar
const loadImage = () => {
  isLoad.value = false;
};

const carouselNext = () => {
    imageCarousel.value ++;
    nextBackCarousel()
}

const carouselBack = () => {
    imageCarousel.value --;
    nextBackCarousel()
}

const nextBackCarousel = () => {
    if(imageCarousel.value > 2){
        imageCarousel.value = 1;
    }
    if(imageCarousel.value < 1){
        imageCarousel.value = 2;
    }
}

</script>
<template>
  <div class="animate-pulse mt-24" v-show="isLoad">
    <div
      class="flex items-center justify-center w-full image-principal bg-gray-300"
    ></div>
  </div>
  <div
    class="relative w-full"
    v-show="!isLoad"
  >
    <div class="relative overflow-hidden max-w-full image-principal mt-24">
      <div class="duration-700 ease-in-out object-cover" v-show="imageCarousel != 1">
        <img
          src="../../assets/image.png"
          class="max-w-full image-principal object-cover absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
          @load="loadImage"
        />
      </div>
      <div class="duration-700 ease-in-out object-cover" v-show="imageCarousel != 2">
        <img
          src="../../assets/image2.png"
          class="max-w-full image-principal object-cover absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
          @load="loadImage"
        />
      </div>
    </div>
    <button
      type="button"
      class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
      @click="carouselBack()"
    >
      <span
        class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
      >
        <i class="las la-angle-left"></i>
      </span>
    </button>
    <button
      type="button"
      class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
      @click="carouselNext()"
    >
      <span
        class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
      >
        <i class="las la-angle-right"></i>
      </span>
    </button>
  </div>
</template>
