<script setup>
import AboutComponent from '../../components/home/AboutComponent.vue';
import FeatureVehiclesComponent from '../../components/home/FeatureVehiclesComponent.vue';
import SectionInitialComponent from '../../components/home/SectionInitialComponent.vue';
import NavBarComponent from '../../components/layout/NavBarComponent.vue';
import FooterComponent from '../../components/layout/FooterComponent.vue';
import FeatureVehiclesDesciptionComponent from '../../components/home/FeatureVehiclesDesciptionComponent.vue';

</script>

<template>
    <div class="h-screen flex flex-col w-full overflow-x-hidden">
        <!-- vista donde se cargaran los componentes que se usaran para ver el 
        inicio de la pagina -->
        <NavBarComponent/>
        <SectionInitialComponent/>
        <FeatureVehiclesComponent/>
        <FeatureVehiclesDesciptionComponent/>
        <AboutComponent/>
        <FooterComponent class="mt-auto"/>
    </div>
</template>