/* Importacion de los archivos tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown-position {
  left: -78px;
  top: 73px;
}
.image-principal {
  height: 90vh;
}
.h-image-carouse-ft {
  height: 383px;
}
.design-img {
  clip-path: polygon(
    50% 0%,
    100% 0,
    100% 43%,
    100% 93%,
    18% 93%,
    12% 98%,
    6% 93%,
    0 93%,
    0 0
  );
}
.filter-gray {
  filter: grayscale(1);
}
.img-about {
  background-image: linear-gradient(90deg, #219654b4 33%, #219653d6 33%),
    url(assets/image6.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.image-left {
  background: url("assets/image5.png") no-repeat center center;
  background-size: cover;
  filter: grayscale(100%);
}

.image-right {
  background: url("assets/image7.png") no-repeat center center;
  background-size: cover;
  filter: grayscale(100%);
}
